
*{
	margin:0px 0px;
	padding: 0px 0px;
	border: 1px solid #000000;
	}
a{
	text-decoration: none;
	text-decoration-color: #000000;
}
header, section, footer, aside,nav,
article, figure, figcaption,
hgroup{
	display: flex;
	flex-wrap: wrap;
}

#app{
}

#cabecera{
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 10%;
	background: #1976D2;
	padding: 5px 15px;	
	align-content: center;
	font: bold 14px verdana, sans-serif;
	align-items: center;
}
button[name*="b"]{			/*esto es para el boton de la pinche hamburguesa*/
	flex-shrink: 0;
	height: 57%;
	padding: 0px;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
#hamburguesa{
	width: 2.9%;
	margin-left: 10px;
	background-image: url("https://trello-attachments.s3.amazonaws.com/5ba023426a260a1d5f1e9f38/5bbd678fbacffa7056a6de88/5c646c1a6a4aa0ad092075b448fc1315/icons8-men%C3%BA-filled-500.png");
	background-size: cover;
	background-repeat: center;
}
.logo{						/*Este sera el tamaño del Logo de la pagina*/
	width: 19%;
	height: 100%;
	flex-shrink: 3;
}
#logo{
	width: 100%;
	height: 100%;
}
.buscar{				/*Modifica la caja donde esta todo el buscador*/
	flex-shrink: 3;
	width: 30%;
	height: 57%;
}
#buscar{
	text-align: left;
	width: 90%;
	height: 100%;
	color: white;
	font: bold 15px verdana, sans-serif;
	background-color: transparent;
	border-style: groove;
	border-width: 0px 0px 3px 0px;/*	*/
	border-color: #0D47A1;
}
#lupa{
	width: 10%;
	height: 100%;
	background-size: cover;
	background-repeat: center;
	background-image: url("https://trello-attachments.s3.amazonaws.com/5ba023426a260a1d5f1e9f38/5bbd678fbacffa7056a6de88/28e0cd05cdff8fb815373638d7f6ee59/icons8-b%C3%BAsqueda-filled-500.png");
}
#botonesN{					/*Estos son los botones de Registro e Inicio de sesion*/
	flex-shrink: 3;
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
	border-radius: 15%;
	cursor: pointer;
	outline: none;
	color: white;
	padding: 5px;
	background-color: #1565c0;
	border-width: 1px;
	border-color: #0d47a1
}
.icono{						/*Modifica la caja del icono que aparece a la derecha*/
	flex-shrink: 3;
	border-radius: 50%;
	width: 4.3%; /*60px*/
	height: 85%;
	background-color: transparent;
}
#icono{
	width: 100%;
	height: 100%;
}
input:focus{						/*Esto es para cuando se da click en un boton no se marque un cuadro alrededor*/
	outline: none;
}
::placeholder{						/*De aqui para abajo es para el color del placeholder*/
	color: #D8D8D8;
	opacity: 1;
}
:-ms-input-placeholder{
	color: white;
}
::-ms-input-placeholder{
	color: white;
}
/*/////////////////////////////////////////////////////////////////////////Hasta aqui es la cabecera////////////////////////////////////////*/

#centro{		/*caja con el banner, mapa, video y recomendados*/
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0.0% 0.0%;
	height: 89%;
	width: 100%;
}
#seccion-banner{	/*caja del banner*/
	flex-direction: row;
	flex-wrap: wrap;
	visibility: visible;
	height: 100%;
	width: 18.301%;
	padding: 0px 0.37% 0px 0px;
}

#banner{
	padding: 1.1% 0.732% 1.1% 0.732%;
	float: left;
	height: 100%;
	visibility: hidden; 					/*Quitar para mostrar la raya gris*/
}
#ocultar{
	visibility: hidden;
}
#banner1{
	background-color: #A4A4A4;
	padding: 1.1% 0.732% 1.1% 0.732%;
	float: left;
	text-overflow: initial;
	-webkit-animation: banner 1.5s;
	animation: banner 1.5s;
	width: 100%;
	height: 100%;
	visibility: visible;
}
@keyframes banner{
	0%{width: 0%}
	100%{width: 100%}
}
#mostrar{
	visibility: visible;
	transition: visibility 3s;
}
li{
	border-radius: 30%/50%;
	margin-top: 4px;
	margin-bottom: 4px;
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
}
#publicidad1{
	flex-wrap: wrap;
	padding: 5px;
	width: 80%;
	height:	48%;
	visibility: visible;
}
#publicidad2{
	max-width: 100%;
	max-height:	100%;
}
#centro1{
	width: 81%;
	height: 100%;
	flex-direction: column;
	flex-wrap: wrap;
}
#mapa{
	flex-shrink: 3;
	width: 100%;
	height: 48%;
}
#centro2{
	width: 100%;
	height: 51%;
	flex-direction: row;
	flex-wrap: wrap;	
}
#recomendados{
	justify-content: space-between;	
	flex-shrink: 3;
	width: 71.7%;
	height: 100%;
}
#tarjetas{
	width: 32%;
	height: 100%;
}

#video{
	padding: 0px 0px 0px 0.9%;
	height: 76%;
	width: 28px;
	flex-shrink: 3;
}
#pie{
	background-color: black;
	width: 100%;
	height: 5%;
	position: fixed;
  	bottom: 0px;
}
#anunciate{
	float: right;
	height: 85.7%;
	cursor: pointer;
	outline: none;
	padding: 5px;
	border-width: 1px;
}
